.nav {
  background-color: #ccc;
}

.nav__items {
  display: flex;
  list-style: none;
  padding: 20px;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
}

.nav__items li:last-child {
  margin-left: 25px;
}

.nav__items a {
  text-decoration: none;
  color: black;
}

.nav__items a:hover {
  color: blueviolet;
  cursor: pointer;
  transition: 0.3s ease;
}
