.form__style {
  width: 600px;
  margin: 30px auto 0;
}

.input__style {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.add__btn {
  padding: 5px 35px;
  background: #87c4f9;
  border: 2px solid blue;
  border-radius: 5px;
  cursor: pointer;
}
