.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    color: #555454;
  }
  
  .filter__selectbox {
    display: flex;
    align-items: center;
  }
  