.contact__style {
  width: 600px;
  margin: 30px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #cccc;
  border-bottom: 1px solid #cccc;
}

.conatct__info {
  display: flex;
  align-items: center;
}

.conatct__info-text {
  margin: 0 0 5px 5px;
}

.trash {
  color: rgb(157, 15, 15);
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.edit {
  color: blue;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid blue;
  border-radius: 5px;
}
.contactlist__style {
  margin-bottom: 5rem;
}

.add__btn {
  padding: 5px 35px;
  background: #87c4f9;
  border: 2px solid blue;
  border-radius: 5px;
  cursor: pointer;
  display: table;
  margin: auto;
}

.search__Style {
  padding: 5px;
  border-radius: 5px;
  display: table;
  margin: 15px auto;
  border: 2px solid blue;
  outline: none;
}
