.product {
  background-color: white;
  margin-bottom: 10px;
  width: 60rem;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  color: #444;
}

.main__product {
  margin-top: 20px;
}

.Btn {
  color: #7c3aed;
  background-color: white;
  padding: 5px;
  border: 1px solid#7c3aed;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.inc {
  background-color: #ede9fe;
  color: #7c3aed;
  width: 25px;
  height: 25px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid#7c3aed;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.title {
  display: flex;
  justify-content: center;
}

.title span {
  color: #7c3aed;
  background-color: #ede9fe;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  color: #7c3aed;
  background-color: #ede9fe;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove {
  border-color: red;
  color: red;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty__basket {
  color: rosybrown;
  text-align: center;
  margin-top: 30px;
}
