.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 40rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  flex-direction: column;
}
.todoStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todoStyle:not(:last-child) {
  border-bottom: 1px solid #7c3aed;
}

.todoStyle__input {
  padding: 4px;
  margin-right: 5px;
  border: 2px solid #7c3aed;
  border-radius: 5px;
  width: 80%;
}

.todoStyle__input-update {
  padding: 4px;
  margin-right: 5px;
  border: 2px solid #7c3aed;
  border-radius: 5px;
  width: 80%;
  margin-top: 10px;
}

.todoStyle__addbutton {
  padding: 4px;
  border: 2px solid #7c3aed;
  background-color: #7c3aed;
  border-radius: 5px;
  width: 100px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.todoStyle__edit {
  padding: 4px;
  border: 2px solid #7c3aed;
  background-color: white;
  border-radius: 5px;
  width: 65px;
  color: #7c3aed;
  font-weight: bold;
  cursor: pointer;
}

.todoStyle__compeleted {
  padding: 4px;
  border: 2px solid #7c3aed;
  background-color: white;
  border-radius: 5px;
  width: 75px;
  color: #7c3aed;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.todoStyle__remove {
  padding: 4px;
  border: 2px solid red;
  background-color: white;
  border-radius: 5px;
  width: 75px;
  color: red;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.todoStyle__text {
  color: #7c3aed;
  text-decoration: none;
}

.compeleted {
  text-decoration: line-through;
  color: red;
}

.navstyle {
  width: -webkit-fill-available;
  background: white;
  margin-bottom: 20px;
  text-align: center;
  color: #7c3aed;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uncompelete {
  width: 25px;
  height: 25px;
  background: #7c3aed;
  color: white;
  border-radius: 50px;
  margin-left: 5px;
}

.uncompelete__title {
  color: #7c3aed;
  font-weight: bold;
}

.navstyle__div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.navstyle__seclection {
  padding: 4px;
  border: 2px solid #7c3aed;
  outline: none;
  border-radius: 5px;
  color: #7c3aed;
  font-weight: bold;
}
