.btn__add {
  border: 2px solid #a924f1;
  outline: none;
  padding: 10px;
  background-color: #b3aae7;
  color: #dbeafe;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.new__comment-input {
  outline: none;
  border: 2px solid #a924f1;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

.new__comment-label {
  color: #a924f1;
  font-weight: bold;
}

.new__comment-label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.new__comment {
  background-color: #dbeafe;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 500px;
  margin: 20px auto;
}

textarea {
  width: 100%;
}
