.comment {
  background: #dbeafe;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}
.full__comment-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: auto;
  background: #dbeafe;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
}

.delet__btn {
  background: red;
  border: 1px solid #320b0b;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
