body {
  background-color: #ccc;
}
.App {
  text-align: center;
  width: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.balance__style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.balance__style-text {
  font-weight: bold;
  color: #232121;
}

.balance__style-button {
  color: white;
  background-color: #8b5cf6;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
}

.balance__div {
  display: flex;
  flex-direction: column;
  width: 45%;
  text-align: start;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
}

.balance__div:not(:last-child) {
  margin-right: 5px;
}

.balance {
  display: flex;
  align-items: center;
}

.input__div {
  display: flex;
  margin-top: 15px;
}
.input__div input {
  outline: none;
  border: 2px solid #8b5cf6;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}
.input__div input:not(:last-child) {
  margin-right: 10px;
}

.section {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.radio__div {
  margin-top: 10px;
  text-align: left;
}

.transaction {
  background-color: #f3efefcc;
  padding: 7px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
